<!-- 매번 어필리케이션이 시작할 때마다 실행되는 커맨드 -->
container_commands:
  01_migrate:
    <!-- 이건 리눅스 명령어 가상환경 활성화 -->
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    <!-- 리더 서버만 마이그레이트 할 수 있도록 -->
    leader_only: True

  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  


option_settings: 

  "aws:elasticbeanstalk:application:environment":  
    DJANGO_SETTINGS_MODULE: "config.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "config/wsgi.py"